.Banner
    display: columns
    align-items: center
    margin: 200px 0 200px 0

    p
        color: white
        line-height: 20px

    .presentation
        display: flex
        gap: 50px

    .skills
        display: flex
        justify-content: center
        margin: 50px 0
