@import './Variables'

.projectsDetails-content
  max-width: 1920px
  margin: 0 auto
  text-align: center
  padding: 20px
  margin-top: 30px
  .title, .description, .role
    color: white

  .title
    font-size: 2rem
    font-weight: 300
    margin: 20px 0 10px

  .gradient-line
    margin-bottom: 40px

  .role, .description
    font-size: 1.2rem
    line-height: 1.6
    max-width: 1200px
    margin: 10px auto
    text-align: justify

  .role
    text-decoration: underline
    text-underline-offset: 5px
    text-decoration-thickness: 1px
    text-decoration-color: $ReactColor

  .description
    font-weight: 200

  .picture
    width: auto
    height: 70vh // Utilisation d'unités relatives
    // border-radius: 10px
    margin: 50px auto

.title-content
  display: flex
  justify-content: space-between
  align-items: center
  align-items: center
  color: white
  margin: 0 50px

  a
    color: white
    text-decoration: none
    font-size: 18px
    transition: color 0.2s ease
    &:hover
      color: $ReactColor
    &:visited
      color: none
  .icon
    font-size: 35px
    font-weight: 300
    cursor: pointer
