@import './Variables'

.projectsDetails-content
  max-width: 1920px
  margin: 0 auto
  text-align: center
  padding: 20px

  .title, .description, .role
    color: white

  .title
    font-size: 2rem
    font-weight: 300
    margin-bottom: 10px
    margin-top: 20px

  .gradient-line
    margin-bottom: 20px

  .role
    font-size: 1.2rem
    line-height: 1.6
    max-width: 1200px
    margin: 0 auto
    text-align: justify
    margin-top: 10px
    text-decoration: underline
    text-underline-offset: 5px
    text-decoration-thickness: 1px
    text-decoration-color: $ReactColor

  .description
    font-size: 1.2rem
    font-weight: 200
    line-height: 1.2
    max-width: 1200px
    margin: 0 auto
    text-align: justify
    margin-top: 10px

  .picture
    width: auto
    height: 800px
    margin-top: 20px
    border-radius: 10px
    margin-top: 50px
