

.Skills
    display: flex
    justify-content: center
    align-items: center
    gap: 30px
    .logo-express  
        height: 100px !important
    .logo-icon
        max-width: 100px
        height: 100%


