

.Skills
    max-width: 1024px
    display: flex
    justify-content: center
    align-items: center
    gap: 30px
    margin: 0 auto //evite que les icones ne se centre plus
    padding: 50px 0px
    .logo-express  
        height: 90px !important
    .logo-icon
        max-width: 90px
        height: 100%


