@import './Variables'

.video-section
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: hidden
    z-index: -1//vant le background mais derrière le contenu
    background: $SpaceGround

.background-video
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    opacity: 0.2  // Ajuste la visibilité pour un effet de fond